@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
:root {
    --manrope: 'Manrope', sans-serif; 
    --oswald: 'Oswald', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
    border-radius: 5px;
    margin: 2px;
}
html::-webkit-scrollbar-track {
    background: transparent;
}

.container
{
    width: 1400px;
    margin: 0 auto;
}

header{
    background: rgba(255, 255, 255, 0.146);
    border-bottom: 1.4px solid rgba(255, 255, 255, 0.527);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
}
header .container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .link a
{
    font-family: var(--manrope);
    font-size: 14px;
    margin: 0 30px;
    padding: 0 6px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 900;
}
header .brand{
    margin: 0 40px;
}

.sideBar
{
    width: 110px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.146);
    border-right: 1.4px solid rgba(255, 255, 255, 0.527); 
    position: fixed;
    margin-top: 111px;
    left: 0;
    z-index: 999999;
    

}
.sideBar .icon 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    border-bottom: 1px solid #fff;
}
.sideBar .icon a 
{
    font-size: 28px;
    color: #fff;
    margin: 15px 0;
}
.sideBar .text
{
    display: flex;
    width: 100%;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.sideBar .text p 
{
    transform: rotate(-90deg);
    white-space: nowrap;   
    color: #fff;
    font-size: 9px;
    font-family: var(--manrope);
    text-transform: uppercase;
    letter-spacing: 4px;
    transform: rotateZ(-90deg);
    white-space: nowrap;
}


/* absolute text */
.fonText
{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.back-img {
    min-width: 100vw !important;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.fonText h1 
{
    /* font-size: 140px; */
    font-size: 7.5rem;
    font-family: var(--oswald);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: .3px rgba(255, 255, 255, 0.516);
    letter-spacing: 20px;
    line-height: 1.2;
    white-space: nowrap; 
    padding: 0 20px;
    user-select: none;
    opacity: 0.7;
}
.fonText .txt1 {
    transform: translateX(-500px);
    margin-top: 120px;
}
.fonText .txt2 {
    margin-bottom: 10px;
}

/* grafik box*/
.scroll-Div {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}
.GrafikBox {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.GrafikBox1 {   
    background: url('pictures/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.GrafikBox2 {
    background: url('pictures/Rectangle2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.GrafikBox3 {
    background: url('pictures/Rectangle3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Gboxs {
    margin-left: 200px;
    z-index: 10;
}

.topname-h1 {
    font-size: 60px;
    font-family: var(--manrope);
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 15px;
    padding-bottom: 40px;
    position: relative;
}
.topname-h1::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 150px;   
    height: 1px;
    background-color: rgba(255, 255, 255, 0.588);
}

.Gboxs p {
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
    font-family: var(--manrope);
    font-weight: 400;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.BtnBox-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
.Btnbox {
    position: fixed;
    margin-left: 200px;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.btn {
    width: 200px;
    padding: 8px 10px 8px 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: var(--manrope);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .1s;
}
.btn1 {
    margin-right: 25px;
}
.btn1:hover {
    background-color: transparent;
    color: #fff !important;
    border: 1px solid #fff;
}
.btn2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 100px;
}

.lineDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.lineDiv .oval {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    outline: 1px solid #fff;
    cursor: pointer;
}
.lineDiv .line {
    width: 314px;
    height: 1.5px;
    background-color: #fff;
}
.lineDiv .oval2 {
    background-color: transparent;
}
.lineDiv .line2 {
    width: 99999px;
}

/* circle div */

.circleDiv {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.circleDiv div {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.25) 100%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(7px);
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
}
.main-circle {
    right: 10%;
    top: 22%;
    width: 497px;
    height: 497px;
    z-index: 99;
}
.circle2 {
    width: 172px;
    height: 172px;
}
.circle3 {
    height: 126px;
    width: 126px;
}
.circle4 {
    height: 88px;
    width: 88px;
}
.circle5 {
    height: 157px;
    width: 157px;
}