@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
:root {
    --manrope: 'Manrope', sans-serif; 
    --oswald: 'Oswald', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(35deg,#a63be8,#e453daeb,#edaa92b0,#ef9276b5,#fadbadb2); */
    /* background: rgba(255, 255, 255, 0.318); */
    background-image: url('Rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}
header {
    border-bottom: 1px solid #fff;
    background: rgba(255, 255, 255, 0.104);
}
.head-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.head-ul li {
    display: inline-block;
}
.head-ul li a {
    font-family: var(--manrope);
    font-size: 14px;
    margin: 0 3px;
    padding: 0 6px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.head-ul li a img {
    width: 100px;
    padding: 7px;
}

.leftSec {
    width: 110px;
    float: left;
}   
.rightSec {
    
    padding-left: 130px;
    background: gold;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.leftSec-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
}
.leftSec-top a {
    padding: 20px 43px;
    color: #fff;
    font-size: 27px;
}
.leftSec-bottom {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid #fff;
}
.leftSec-bottom p {
    position: absolute;
    top: 470px;
    width: 100%;
    color: #fff;
    font-size: 9px;
    font-family: var(--manrope);
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: rotateZ(-90deg);
    white-space: nowrap;
}

.section2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
}
.section2 .textDiv p {
    font-size: 140px;
    font-family: var(--oswald);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: .3px rgba(255, 255, 255, 0.516);
    letter-spacing: 20px;
    line-height: 1.2;
    margin-top: 12%;
}
.uitc2 {
    margin-top: 15%;
}
.section2 .textDiv {
    width: 100%;
    height: 50%;
}

.topname {
    padding: 300px 0 100px 0;
}
.topname-h1 {
    font-size: 60px;
    font-family: var(--manrope);
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 10px;
}

.crc {
    width: 156px;
    height: 1px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}

.topname-h3 {
    color: #fff;
    font-size: 20px;
    font-family: var(--manrope);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.bottomBtn {
    padding-top: 110px;
    float: left;
}
.btn {
    width: 200px;
    padding: 8px 10px 8px 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: var(--manrope);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .1s;

}
.btn1 {
    color: #9E64C4;
    margin-right: 25px;
}
.btn2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 100px;
}
.btn2:hover {
    background-color: #fff;
    color: #9E64C4;
}

.lineDiv {
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-top: 108px;
}
.lineDiv .oval {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}
.lineDiv .line {
    width: 314px;
    height: 1.5px;
    background-color: #fff;
}
.lineDiv .oval2 {
    background-color: transparent;
}
.lineDiv .line2 {
    width: 500px;
}